body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background: #fff;
  --gray-100: #f9f9f9;
  --gray-200: #eee;
  --gray-300: #ccc;
  --foreground: #000;
  background-color: var(--background);
  color: var(--foreground);
}

body.dark {
  --background: #111;
  --gray-100: #161616;
  --gray-200: #222;
  --gray-300: #555;
  --foreground: #fff;
}

body.dark input[type="checkbox"] {
  filter: invert(100%);
}

.container {
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.well {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
}

.page-header {
  padding-bottom: 6px;
  border-bottom: 1px solid var(--gray-200);
}

.page-header h1 {
  font-weight: 400;
  margin-bottom: 8px;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--gray-300);
  color: inherit;
  font-size: 1rem;
  vertical-align: middle;
  font-weight: normal;
}

.btn:hover {
  background-color: rgba(0,0,0,0.1);
}

.btn:active {
  background-color: rgba(0,0,0,0.2);
}

.panel-title {
  display: inline-block;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
}

.table thead {
  font-weight: bold;
  border-bottom: 1px solid var(--gray-300);
  text-align: left;
}

.table-striped tbody tr:nth-child(2n - 1) {
  background-color: var(--gray-100);
}

.table td, .table th {
  padding: 8px;
}

.panel {
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  margin: 16px 0;
}

.panel-heading {
  background-color: var(--gray-100);
  border-bottom: 1px solid transparent;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.panel[open] .panel-heading {
  border-radius: 8px 8px 0 0;
  border-color: var(--gray-300);
}

.panel-title {
  font-weight: 500;
  margin: 0;
}

.panel-collapse {
  border-radius: 0 0 8px 8px;
  padding: 16px;
}

footer {
  padding: 16px 0;
  margin-top: 32px;
  border-top: 1px solid var(--gray-200);
}
